{# see: TOML configuration specificatiton -- https://github.com/toml-lang/toml #}
{# see: Geth configuration logic -- https://github.com/ethereum/go-ethereum/blob/master/cmd/geth/config.go #}
{% for section in geth_config %}
[{{ section }}]
{% for key, value in geth_config[section].iteritems() %}
{{ key }} = {{ value }}
{% endfor %}
 
{% endfor %}
