[Unit]
Description=Ethereum go client
After=syslog.target network.target

[Service]
User={{ geth_user }}
Group={{ geth_user }}
Environment=HOME=/home/geth
Type=simple
ExecStart={{ install_dir }}/geth {{ extra_run_args }}
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
